body{
    flex-direction: column;
}

.home{
    background-color: red;
}

.home .card-container{
    display: flex;
}

.home .card{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}