.home{
    background-color: blue;
    list-style-type: none;
}

.listproductstitle{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardcontainer{
    display: flexbox;
    flex-wrap: wrap;
    color: white;
    text-align: center;
}

.card{
    border: 20px black solid;
}

.imagething{
    text-align: center;
}