body{
    flex-direction: column;
}

.home{
    background-color: blue;
    list-style-type: none;
}

.listproductstitle{
    text-align: center !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    text-align: center;
}

.card{
    border: 20px black solid;
}

.imagething{
    text-align: center;
}